/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #080808; 
}

.container {
  max-width: 1380px; 
  margin: 0 auto;
  padding: 30px;
   color: #d3e4d9;
}

.header-content {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

header img {
  height: 40px; 
}



nav ul li {
  display: inline;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Section Styles */
section {
  padding: 40px 0;
  text-align: center;
}

/* Form Styles */
form {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 05px;
  margin-bottom: 20px;
  border: 3px solid #171616;
  border-radius: 10px;
}

#id {
  background-image: url("/static/bg.jpg");
  background-position: top;
  background-attachment: fixed;
  color: #FFFFFF;
  height: 100vh; 
}

  h3 a {
    color: #FFFFFF;
  }
