<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kamal's Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <!-- Navigation Bar -->

  <header>
        <div class="logo">
           <img src="static/logo.png" alt="logo-image">
        </div>
    
        <div class="nav-links"">
          
            <nav>
              <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </nav>
        </div>
        
  </header>
    

  <!-- Home Section -->
 
      <section id="home">
        
        <div class="home-text">
        <h1> Professional Summary </h1>
          <p>
            I am a detail-oriented Data Scientist with a Master's degree in Data Science from Eastern University. <br><br>
            My expertise includes:<br><br>

            - Proficiency in Python, SQL, and Tableau.<br>
            - Data cleaning, analysis, and visualization.<br>
            - Machine learning and  statistical analysis.<br><br>

            I am passionate about leveraging data to extract valuable insights and drive informed decision-making.
          </p>




          
        </div>
        <div class="me">
        <img src="static/me.jpg" alt="me">
        </div>
      </section>
    
      <!-- Portfolio Section -->        
    <section class="project">
      <div>
      
        <h3><a href="/project1">Project 1</a></h3>
        <img src="static/project1.jpg" alt="Project 1">
      </div>
      <div>
        
        <h3><a href="/project2">Project 2</a></h3>
        <img src="static/project2.jpg" alt="Project 2">
      </div>
    </section>

  <!-- Contact Section -->
  <section id="contact">
    <h2>Contact Me</h2>
      <form method="post" action="/project1">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>
      <!-- <button type="submit">Send</button> -->
      <a href="mailto:Kmohamud222@gmail.com">Send Email</a>

    </form>
  </section>

</body>
</html>
